body {
  margin: 0;
  padding: 0;
  background: url('https://images.pexels.com/photos/1328884/pexels-photo-1328884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20%;
  margin-right: 20%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
